extend base

block content
    div.home__container
        include items
        include items
        include items
        include items
        include items
        include items
        include items
        include items