a(href="#").item-box
        img(src="https://m.media-amazon.com/images/I/71JFDV-shhS._AC_UL480_FMwebp_QL65_.jpg", alt="")
        p.item-name black Jacket
            .item-review
                .item-stars
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                span 1 review
        p.item-price $300