nav.navbar
    div.navbar__logo
        <i class='bx bx-menu menu'></i>
        p amazona
    div.navbar__search
        input(type="text")
        button
            <i class='bx bx-search'></i>
    div.navbar__menu
        a(href="/signin") Sign in
        a(href="#") Cart