
-var modal =true

div(class=`sidebar`)
    .sidebar-head
        p shop by categories
        <i class='bx bxs-x-circle close'></i>
    .sidebar-menu
        a(href="#")
            p shirts
            <i class='bx bx-right-arrow-alt close'></i>
        a(href="#")
            p pants
            <i class='bx bx-right-arrow-alt'></i>